{{define "appHead"}}

<nav class="container-fluid h-row">
    <a href="/app/status" onclick="window.navigateTo(event,this.href)">
        <h-brand title="HiveOT" logo="{{.logo}}"></h-brand>
    </a>

    <!-- === Tabs for selecting (not loading) application pages === -->
    <!-- The h-navbar css highlights the li with class 'h-target', set by selectURLTargets() -->
    <ul class="h-navbar">
        <!-- TODO: use a link component which handles the onclick and stop propagation-->
        <li><a href="/app/dashboard" onclick="window.navigateTo(event,this.href)">
            Dashboard</a></li>
        <li><a href="/app/directory" onclick="window.navigateTo(event,this.href)">
            Directory</a></li>
        <li><a href="/app/notifications" onclick="window.navigateTo(event,this.href)">
            Notifications</a></li>
    </ul>

    <!-- spacer -->
    <div class="h-grow"></div>

    <!-- === Dark/Light Theme Toggle === -->
    <h-dark-toggle></h-dark-toggle>

    <!-- === Connection Status Indicator using htmx === -->
    {{template "connectStatus.html" .}}

    {{template "appmenu.html" .}}

</nav>

<style>
    .container-fluid {
        background-color: var(--pico-form-element-background-color);
    }
</style>
{{end}}