{{define "appHead"}}

<script>
    // detect changes to the URL hash for updating the selected page tab
    // https://developer.mozilla.org/en-US/docs/Web/API/Window/hashchange_event
    addEventListener("hashchange", (ev) => {
        console.log("hashchange: ", ev.newURL)
        selectActiveTab()
    })

    // select tab based on current URL.
    // TODO: clean this up. put it in a tab-bar web component?
    // aint pretty and only works on page load :(
    function selectActiveTab() {
        let currentHash = window.location.hash
        // let menuItems = document.getElementsByClassName("selectIt")
        let menuItems = document.querySelectorAll(".selectIt")
        // console.log("selecting active tab. Found menuitems: ", menuItems)

        for (let i = 0; i < menuItems.length; i++) {
            let item = menuItems[i]
            let linkURL = item.getAttribute("href")
            // console.log("checking href: " + linkURL + " vs: " + currentHash)
            if (linkURL === currentHash) {
                item.classList.add("uk-active")
            } else {
                item.classList.remove("uk-active")
            }
        }
    }

    window.addEventListener("load", selectActiveTab)

</script>

<nav class="appHead">
    <!--    <div class="appBrand">-->
    <!--        <a class="appBrand" href="/" hx-target="#app" hx-swap="outerHTML">-->
    <!--            &lt;!&ndash; set style to prevent flashing large logo on initial render&ndash;&gt;-->
    <!--            <img src="{{.logo}}" class="appBrand " style="height: 42px">-->
    <!--        </a>-->
    <!--        <label>HiveOT</label>-->
    <!--    </div>-->
    <a href="#status" hx-target="#app">
        <h-brand title="HiveOT" logo="{{.logo}}"></h-brand>
    </a>

    <!-- Tabs for dashboard pages-->
    <!-- FIXME: for some reason the href doesn't update in the browser, so use onclick -->
    <h-navbar>
        <li><a id="dashboard" href="#dashboard">Dashboard</a></li>
        <li><a id="directory" href="#directory">Directory</a></li>
        <li><a id="notifications" href="#notifications">Notifications</a></li>
    </h-navbar>
    <!-- spacer -->
    <div class="h-grow"></div>

    {{template "dark-mode" .}}

    {{template "connectStatus.html" .}}

    {{template "appmenu.html"}}


</nav>


<style>
    /*.selectIt[href="#directory"] {*/
    /*    background-color: chocolate;*/
    /*}*/

    h-brand {
        /*hide the link color*/
        /*color: var(--main-text-color);*/
    }

    ::part(h-brand-title) {
        /*replace the 'link' color of the title with the normal text*/
        color: var(--main-text-color);
    }

    .appHead {
        color: var(--header-text-color);
        background-color: var(--header-bg-color);

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        padding-right: 5px;
    }

    /*all buttons in the nav-button section */
    .nav-button > button {
        background-color: transparent;
        /*color: var(--primary);*/
        border-radius: 2.5rem;
    }

</style>

{{end}}