<!-- dropdown menu -->
<h-dropdown position="bottomright">
    <button slot="button" class="h-icon-button  outline">
        <iconify-icon icon="mdi:menu"></iconify-icon>
    </button>

    <ul class="h-shadow h-panel">

        <li>
            <iconify-icon icon='mdi:view-dashboard'></iconify-icon>
            <a href="#dashboard" hx-target="#app">Dashboard</a>
        </li>
        <li>
            <iconify-icon icon='mdi:view-dashboard'></iconify-icon>
            <a href="#directory" hx-target="#app">Directory</a>
        </li>
        <li>
            <iconify-icon icon="mdi:bell"></iconify-icon>
            <a href="#notifications" hx-target="#app">Notifications</a>
        </li>


        <li class="h-horizontal-divider"></li>

        <li>
            <iconify-icon icon='mdi:logout'></iconify-icon>
            <a href="/logout" hx-boost="false">Logout</a>
        </li>
        <li>
            <iconify-icon icon='mdi:info'></iconify-icon>

            <a href="#about" hx-target="#app">About Hiveoview</a>
        </li>

    </ul>
</h-dropdown>

<style>

    h-dropdown li {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 7px;
        width: 100%;

        /*align-items: start;*/
        /*margin: 0;*/
    }

    h-dropdown li:has(a.h-target) {
        background-color: var(--pico-form-element-selected-background-color);
    }

    .menu-checkbox {
        width: 20px;
        height: 20px;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

</style>

