<div id="about" class="about-container">
    <div class="flex-col about-box">
        <span class="flex-row-centered">
            <h4>About HiveOT</h4>
        </span>
        <div class="flex-row" style="gap: 10px">
            <img src="/static/logo.svg" alt="logo" style="height:60px"/>
            <text>The Hive Of Things provides secure use of connected devices and services.
            </text>
        </div>

        <hr>
        <div class="flex-col">
            <span>By: {{.By}}</span>
            <span>Version: {{.Version}}</span>
        </div>

        <div class="flex-row" style="justify-content: space-between; flex-wrap: nowrap">
            <span></span>
            <a class="uk-button uk-button-primary"
               href="javascript:window.history.back();"
            >Back
            </a>

            <a href="https://github.com/hiveot" target="_blank" aria-label="github"
               style=" font-size: 0.5rem">
                <i style="font-size: 12px">
                    <iconify-icon icon="mdi:github" uk-tooltip="github"></iconify-icon>
                </i>
            </a>

        </div>
    </div>
</div>

<style>
    .about-container {
        height: 100%;

        /*border-color: var(--main-text-color);*/
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .about-box {
        padding: 5px;
        width: 50%;
        border: solid;
        border-width: 1px;
        border-color: lightgray;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        background-color: var(--header-bg-color);

        hr {
            border-color: lightgray;
        }

        .uk-button {
            border-color: lightgray;
            border-radius: 5px;
            padding: 3px 10px;
            line-height: 32px;
        }
    }

</style>