{{define "appHead"}}
<nav uk-navbar class="appHead uk-navbar-container">
    <div class="appBrand uk-navbar">
        <img src="/static/logo.svg" class="appBrand">
        <label>HiveOT</label>
    </div>

    <!-- Tabs for dashboard pages-->
    <!--    {{template "tabs.html" .}}-->

    <ul uk-tab>
        {{range .pages}}
        <li id="{{.}}-tab"><a href="#">{{.}}</a></li>
        {{end}}
    </ul>

    <!-- spacer -->
    <div class="grow"></div>

    <!-- Counter for testing-->
    {{template "counter.html" .}}


    <!-- dark mode, one button to rule the night -->
    <button onclick="toggleDarkMode(document.body)"
            class="bg-transparent uk-button uk-padding-small">
        <iconify-icon icon="mdi:theme-light-dark"></iconify-icon>
    </button>

    {{template "connectStatus.html" .}}

    {{template "dropdown3.html" .menuItems}}
</nav>

<script>
    function toggleDarkMode(btn) {
        console.log("toggleDarkMode")
        if (btn.classList.contains("uk-dark")) {
            btn.classList.remove("uk-dark")
            // btn.classList.add("uk-light")
        } else {
            // btn.classList.remove("uk-light")
            btn.classList.add("uk-dark")
        }
    }
</script>

<style>


    .appHead {
        /*background-color: transparent;*/
        /*width: 100%;*/
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        gap: 15px;
        padding: 0;
        padding-right: 5px;
        height: 62px;
    }

    .appBrand {
        display: flex;
        /*tame the SVG icons size*/
        height: 90%;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        padding: 4px;
        padding-right: 10px;
    }


</style>

{{end}}