<!--LineChart Tile renderer-->

{{- /*gotype:github.com/hiveot/hub/services/hiveoview/src/views/tile.RenderTileTemplateData*/ -}}
{{/*Clicking the image opens it in a new tab*/}}
<a href="{{.Tile.ImageURL}}" target="_blank" style="height:100%;">
	<h-img  src="{{.Tile.ImageURL}}" style="width:100%;height:100%"
        interval="{{.Tile.ImageReloadInterval}}"
	></h-img>
</a>