<!--LineChart Tile renderer-->

{{- /*gotype:github.com/hiveot/hub/services/hiveoview/src/views/tile.RenderTileTemplateData*/ -}}
<h-img  src="{{.Tile.ImageURL}}"
        interval="{{.Tile.ImageReloadInterval}}"
></h-img>

