<!--about dialog -->
<div id="about" uk-modal="esc-close; bg-close" class="about-containerz">
    <div class="flex-col about-box uk-modal-dialog uk-modal-body">

        <span class="flex-row-centered">
            <h4>About HiveOT</h4>
        </span>
        <div class="flex-row" style="gap: 10px">
            <img src="/static/logo.svg" alt="logo" style="height:60px"/>
            <text>The Hive Of Things provides secure use of connected devices and services.
            </text>
        </div>

        <hr>
        <div class="flex-col">
            <span>By: The Hive</span>
            <span>Version: pre-alpha</span>
        </div>

        <div class="flex-row"
             style="justify-content: center; flex-wrap: nowrap; padding-top:30px">
            <span></span>
            <a class="uk-modal-close uk-button uk-button-primary" type="button"
            >Close
            </a>

            <a href="https://github.com/hiveot" target="_blank" aria-label="github"
               style=" font-size: 0.5rem; position:absolute; right:10px; bottom:10px">
                <i style="font-size: 12px">
                    <iconify-icon icon="mdi:github" uk-tooltip="github"></iconify-icon>
                </i>
            </a>

        </div>
    </div>
</div>

<style>
    .about-container {
        height: 100%;

        /*border-color: var(--main-text-color);*/
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .about-box {
        padding: 15px;
        /*width: 50%;*/
        border: solid;
        border-width: 1px;
        border-color: lightgray;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        background-color: var(--header-bg-color);

        hr {
            border-color: lightgray;
        }

        .uk-button {
            border-color: lightgray;
            border-radius: 5px;
            /*padding: 3px 10px;*/
            line-height: 32px;
        }
    }

</style>