<!--Tile editor dialog-->

{{- /*gotype:github.com/hiveot/hub/bindings/hiveoview/src/session.DashboardTile*/ -}}

{{if not .ID}}
<div  hx-trigger="intersect once"
      hx-swap="outerHTML"
      hx-get="">
	<p>reloading page fragment...</p>
	<h-loading></h-loading>
</div>

{{else}}

<div class="h-col-centered h-grow" style="justify-content:center">
Hello world
</div>
<style>

</style>
{{end}}