<!--Main application view with header, page content and footer-->
<div class="app">
    <div class="apphead">
        {{block "appHead" .}}App header goes here {{end}}
    </div>

    <div class="apppages" id="appPage">
        {{block "appPage" .}} Welcome to HiveOT {{end}}
    </div>

    <div class="appfooter">
        {{block "appFooter" .}} App footer goes here {{end}}
    </div>
</div>


<style>
    .app, .apppages {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-grow: 10;
    }

    /* default icons are a tiny 14px */
    iconify-icon {
        font-size: 20px;
    }

    /*all buttons in the nav-button section */
    .nav-button > button {
        margin: 1px;
        background-color: transparent;
        color: var(--primary);
        border-radius: 2.5rem;
        padding: 0;
    / important;
    }


</style>
