{{define "appHead"}}
<nav uk-navbar class="appHead uk-navbar-container uk-navbar-transparent">
    <div class="appBrand uk-navbar">
        <a class="uk-link-muted appBrand" href="/">
            <!-- set style to prevent flashing large logo on initial render-->
            <img src="/static/logo.svg" class="appBrand">
        </a>
        <label>HiveOT</label>
    </div>

    <!-- Tabs for dashboard pages-->
    <!--    {{template "tabs.html" .}}-->

    <ul uk-tab>
        {{range .pages}}
        <li id="{{.}}-tab"><a href="#">{{.}}</a></li>
        {{end}}
    </ul>

    <!-- spacer -->
    <div class="grow"></div>

    <!-- Counter for testing-->
    {{template "counter.html" .}}

    {{template "dark-mode" .}}

    {{template "connectStatus.html" .}}

    {{template "dropdown" .headerMenu}}
</nav>


<style>


    .appHead {
        /*background-color: transparent;*/
        /*width: 100%;*/
        max-height: 62px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        gap: 15px;
        padding: 0;
        padding-right: 5px;
        height: 62px;

        /*Header buttons are smaller*/

        .uk-button {
            margin: 0;
            padding: 3px 3px;
        }
    }

    .appBrand {
        display: flex;
        /*tame the SVG icons size*/
        max-height: 60px;
        height: 90%;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        padding: 4px;
        padding-right: 10px;
    }


</style>

{{end}}