{{define "appHead"}}
<nav class="appHead">
    <!--    <div class="appBrand">-->
    <!--        <a class="appBrand" href="/" hx-target="#app" hx-swap="outerHTML">-->
    <!--            &lt;!&ndash; set style to prevent flashing large logo on initial render&ndash;&gt;-->
    <!--            <img src="{{.logo}}" class="appBrand " style="height: 42px">-->
    <!--        </a>-->
    <!--        <label>HiveOT</label>-->
    <!--    </div>-->
    <a href="/" hx-target="#app" hx-swap="outerHTML">
        <h-brand title="HiveOT" logo="{{.logo}}"></h-brand>
    </a>

    <!-- Tabs for dashboard pages-->
    <!--    {{template "tabs.html" .}}-->

    <ul uk-tab style="margin-left: 20px">
        {{range .pages}}
        <li id="{{.}}-tab">
            <a href="/app/{{.}}" hx-target="#appPage">{{.}}</a>
        </li>
        {{end}}
    </ul>

    <!-- spacer -->
    <div class="grow"></div>

    {{template "dark-mode" .}}

    {{template "connectStatus.html" .}}

    {{template "dropdown" .headerMenu}}
</nav>


<style>
    h-brand {
        /*hide the link color*/
        /*color: var(--main-text-color);*/
    }

    ::part(h-brand-title) {
        /*replace the 'link' color of the title with the normal text*/
        color: var(--main-text-color);
    }

    .appHead {
        /*background-color: transparent;*/
        /*width: 100%;*/
        /*max-height: 62px;*/
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        /*gap: 15px;*/
        /*padding: 0;*/
        padding-right: 5px;
        /*height: 62px;*/
    }

    /*all buttons in the nav-button section */
    .nav-button > button {
        /*margin: 1px;*/
        background-color: transparent;
        /*color: var(--primary);*/
        border-radius: 2.5rem;
        /*padding: 0;*/
    }

</style>

{{end}}