<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Component Viewer">

    <script src="../src/static/htmx.org@2.0.1.js"></script>
    <script src="../src/static/sse-2.2.0.js"></script>
    <script src="../src/static/iconify-icon.min.js"></script>
    <link rel="stylesheet" href="../src/static/pico-v2.0.6.css"/>

    <link rel="stylesheet" href="../src/webcomp/h-theme.css"/>
    <link rel="stylesheet" href="../src/webcomp/h-classes.css"/>
    <script type="module" src="../src/webcomp/components.js"></script>
    <title>Component Viewer</title>
</head>


<script id="model-data" type="application/json">
</script>


<body>

<!--Table of HiveOT web component examples-->
<main class="container-fluid" hx-boost="true">

    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Web Element/Component</th>
        </tr>
        </thead>

        <!-- === h-brand ===-->
        <tbody>
        <tr>
            <td>
                <span>h-brand</span>
            </td>
            <td class="h-row">
                <h-brand title="My Brand" logo="../src/static/logo.svg"></h-brand>
                <h-dark-toggle></h-dark-toggle>
            </td>

        </tr>

        <!-- === h-dropdown ===-->
        <tr>
            <td>
                <span>h-dropdown</span>
            </td>
            <td class="h-row">
                <h-dropdown id="dropdown1" show="false" position="bottomleft">
                    <button slot="button" class="outline  h-row">Menu
                        <iconify-icon icon="mdi:menu"></iconify-icon>
                    </button>
                    <div class="h-shadow h-panel">
                        <ul style="list-style: none">
                            <li><a href="#">This is the "bottomleft" dropdown</a></li>
                            <li>Use position="bottom" or "bottomright", "bottomleft" to place it below the button
                            </li>
                            <li>Use position="top" or "topright" or "topleft" to place above the button</li>
                            <li>Use position="right" or "righttop" or "rightbottom" to place right of the button
                            </li>
                            <li>Use position="left" or "lefttop" or "leftbottom" to place right of the button</li>
                        </ul>
                    </div>
                </h-dropdown>

                <details class="dropdown">
                    <summary>Menu</summary>
                    <ul>
                        <li><a href="#">This is the "bottomleft" dropdown</a></li>
                        <li>Use position="bottom" or "bottomright", "bottomleft" to place it below the button</li>
                        <li>Use position="top" or "topright" or "topleft" to place above the button</li>
                        <li>Use position="right" or "righttop" or "rightbottom" to place right of the button</li>
                        <li>Use position="left" or "lefttop" or "leftbottom" to place right of the button</li>
                    </ul>
                </details>
            </td>
        </tr>
        <!-- === h-modal ===-->
        <tr>
            <td>
                <span>h-modal</span>
            </td>
            <td>
                <!-- =Modal Using hx-get= -->
                <button class="outline secondary"
                        hx-get="../test/test-dialog.html"
                        hx-target="#modal1"
                        onclick="hShow('modal1')"
                >Modal with hx-get
                </button>
                <h-modal id="modal1" shadow showclose animate>
                </h-modal>

                <!-- =Modal with inline content= -->
                <button class="outline secondary"
                        onclick="hShow('modal2')">Modal with inline content
                </button>
                <h-modal id="modal2" shadow showclose animate>
                    <article class="h-panel">
                        Modal slot inline content
                    </article>
                </h-modal>


            </td>
        </tr>
        <!-- === h-navbar  ===-->
        <tr>
            <td>
                <span>h-navbar</span>
            </td>
            <td class="h-row" style="gap: 5px">
                <ul class="h-navbar" style="margin: 0">
                    <li><a
                            hx-push-url="true" hx-get="../test/test-dialog.html" hx-target="#navtarget1"
                            class="active">item1</a></li>
                    <li><a href="/navpage2">item2</a></li>
                    <li><a href="/navpage3">item3</a></li>
                </ul>
            </td>
            <div id="navtarget1"></div>
        </tr>

        <!-- === h-simple-table  ===-->
        <tr>
            <td>
                <span>h-simple-table</span>
            </td>
            <td>
                <h-data id="model-data" hx-next="/app/data/more">
                    {'label':'Item 1', 'val':'value 1',"onoff":"on"},
                    {'label':'Item 2', 'val':'value 2',"onoff":"off"}
                </h-data>
                <h-simple-table id="mode-table" data="#model-data">
                    <li col="1" title="Name" field="label" field-type="text"></li>
                    <li col="2" title="Value" field="val" field-type="number"></li>
                    <li col="3" title="On/Off" field="onoff">
                        <switch on='{onoff}'></switch>
                    </li>
                </h-simple-table>
            </td>
        </tr>

        <!--=== h-details-group ===-->
        <tr>
            <td>h-details-group</td>
            <td>
                <h-details-group group-name="testdetails">
                    <details id="summary1">
                        <summary>Section 1</summary>
                        <div style="border:1px grey solid">Content of Section 1</div>
                    </details>
                    <details id="summary2">
                        <summary>Section 2</summary>
                        <div style="border:1px grey solid">Content of Section 2</div>
                    </details>
                </h-details-group>
            </td>
        </tr>

        <!--=== h-chartjs ===-->
        <tr>
            <td>h-chart</td>
            <td>
                <h-timechart id="chart1">
                </h-timechart>
            </td>
        </tr>
        </tbody>
    </table>

</main>

<script>
    const timeSeries1 = [
        {x: '2024-01-02T08:55:00', y:22},
        {x: '2024-01-02T13:25:00', y:15},
        {x: '2024-01-04T05:44:20', y:13},
        {x: '2024-01-05T22:15:05', y:33},
    ]
    const timeSeries2 = [
        {x: '2024-01-03T01:25:00', y:17},
        {x: '2024-01-03T05:35:00', y:18},
        {x: '2024-01-04T13:15:00', y:23},
        {x: '2024-01-05T03:23:00', y:15},
    ]
    document.addEventListener('DOMContentLoaded', function() {
        let chart1 = document.getElementById("chart1")
        chart1.setTimeSeries(0, "series1", timeSeries1)
        chart1.setTimeSeries(1, "series2", timeSeries2)

    }, false);
</script>


</body>
</html>

<style>

    /*Do not render web components before they are defined to avoid their slotted to flash */
    /*https://stackoverflow.com/questions/64213037/how-to-avoid-that-slot-elements-in-web-components-appear-before-the-rest-is-rend*/
    *:not(:defined) {
        /*display: none;*/
    }

</style>

