<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Component Viewer"/>

    <script src="../src/static/htmx.org@2.0.1.js"></script>
    <script src="../src/static/sse-2.2.1.js"></script>
    <link rel="stylesheet" href="../src/static/pico-v2.0.6.css"/>

    <script src="../src/static/chartjs-4.4.3.min.js"></script>
    <script src="../src/static/luxon-3.4.4.min.js"></script>
    <script src="../src/static/chartjs-adapter-luxon-1.3.1.js"></script>
    <script src="../src/static/iconify-icon.min.js"></script>

    <link rel="stylesheet" href="../src/static/gridstack-10.3.1.min.css"/>
    <script src="../src/static/gridstack-all.10.3.1.min.js"></script>

    <link rel="stylesheet" href="../src/webcomp/h-theme.css"/>
    <link rel="stylesheet" href="../src/webcomp/h-classes.css"/>
    <script type="module" src="../src/webcomp/components.js"></script>
    <title>Component Viewer</title>
</head>


<script id="model-data" type="application/json">
</script>


<body>

<!--Table of HiveOT web component examples-->
<main class="container-fluid" hx-boost="true">

    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Web Element/Component</th>
        </tr>
        </thead>

        <!-- === h-brand ===-->
        <tbody>
        <tr>
            <td>
                <span>h-brand</span>
            </td>
            <td class="h-row">
                <h-brand title="My Brand" logo="../src/static/logo.svg"></h-brand>
                <h-dark-toggle></h-dark-toggle>
            </td>

        </tr>

        <!-- === h-dropdown ===-->
        <tr>
            <td>
                <span>h-dropdown</span>
            </td>
            <td class="h-row">
                <h-dropdown id="dropdown1" show="false" position="bottomleft">
                    <button slot="button" class="outline  h-row">Menu
                        <iconify-icon icon="mdi:menu"></iconify-icon>
                    </button>
                    <div class="h-shadow ">
                        <ul style="list-style: none">
                            <li><a href="#">This is the "bottomleft" dropdown</a></li>
                            <li>Use position="bottom" or "bottomright", "bottomleft" to place it below the button
                            </li>
                            <li>Use position="top" or "topright" or "topleft" to place above the button</li>
                            <li>Use position="right" or "righttop" or "rightbottom" to place right of the button
                            </li>
                            <li>Use position="left" or "lefttop" or "leftbottom" to place right of the button</li>
                        </ul>
                    </div>
                </h-dropdown>

                <details class="dropdown">
                    <summary>Menu</summary>
                    <ul>
                        <li><a href="#">This is the "bottomleft" dropdown</a></li>
                        <li>Use position="bottom" or "bottomright", "bottomleft" to place it below the button</li>
                        <li>Use position="top" or "topright" or "topleft" to place above the button</li>
                        <li>Use position="right" or "righttop" or "rightbottom" to place right of the button</li>
                        <li>Use position="left" or "lefttop" or "leftbottom" to place right of the button</li>
                    </ul>
                </details>
            </td>
        </tr>
        <!-- === h-modal ===-->
        <tr>
            <td>
                <span>h-modal</span>
            </td>
            <td>
                <!-- =Modal Using hx-get= -->
                <button class="outline secondary"
                        hx-get="../test/test-dialog.html"
                        hx-target="#modal1"
                        onclick="hShow('modal1')"
                >Modal with hx-get
                </button>
                <h-modal id="modal1" shadow showclose animate>
                </h-modal>

                <!-- =Modal with inline content= -->
                <button class="outline secondary"
                        onclick="hShow('modal2')">Modal with inline content
                </button>
                <h-modal id="modal2" shadow showclose animate>
                    <article >
                        Modal slot inline content
                    </article>
                </h-modal>


            </td>
        </tr>
        <!-- === h-navbar  ===-->
        <tr>
            <td>
                <span>h-navbar</span>
            </td>
            <td class="h-row" style="gap: 5px">
                <ul class="h-navbar" style="margin: 0">
                    <li><a
                            hx-push-url="true" hx-get="../test/test-dialog.html" hx-target="#navtarget1"
                            class="active">item1</a></li>
                    <li><a href="/navpage2">item2</a></li>
                    <li><a href="/navpage3">item3</a></li>
                </ul>
            </td>
            <div id="navtarget1"></div>
        </tr>

        <!-- === h-simple-table  ===-->


        <!--=== h-details-group ===-->
        <tr>
            <td>h-details-group</td>
            <td>
                <h-details-group group-name="testdetails">
                    <details id="summary1">
                        <summary>Section 1</summary>
                        <div style="border:1px grey solid">Content of Section 1</div>
                    </details>
                    <details id="summary2">
                        <summary>Section 2</summary>
                        <div style="border:1px grey solid">Content of Section 2</div>
                    </details>
                </h-details-group>
            </td>
        </tr>

        <!--=== h-chartjs ===-->
        <tr>
            <td>h-chart</td>
            <td>
                <h-timechart id="chart1" style="height:200px"
                             timestamp="2024-07-28T21:00:00-07:00">
                    <data title="Series 1">
                        [{"x":"2024-07-28T08:08:22.55-0700","y":0},
                        {"x":"2024-07-28T12:04:11.269-0700","y":12},
                        {"x":"2024-07-28T16:39:36.972-0700","y":15},
                        {"x":"2024-07-28T19:35:26.196-0700","y":27}]
                    </data>
                </h-timechart>
            </td>
        </tr>

        <!--=== gridstack ===-->
        <tr>
            <td>gridstack</td>
            <td>
                <div class="grid-stack"></div>
            </td>
        </tr>
        </tbody>
    </table>

</main>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        startGridStack()
    }, false);
    function startGridStack() {

        var count = 0;
        var items = [
            {x: 0, y: 0, w: 2, h: 2},
            {x: 2, y: 0, w: 2},
        ];
        items.forEach(w => w.content = String(count++));

        var options = { // put in gridstack options here
            float: false
        };
        var grid = GridStack.init(options).load(items);


        addNewWidget = function () {
            var node = {
                x: Math.round(12 * Math.random()),
                y: Math.round(5 * Math.random()),
                w: Math.round(1 + 3 * Math.random()),
                h: Math.round(1 + 3 * Math.random()),
                content: String(count++)
            };
            grid.addWidget(node);
            return false;
        };
    }
</script>


</body>
</html>

<style>

    /*Do not render web components before they are defined to avoid their slotted to flash */
    /*https://stackoverflow.com/questions/64213037/how-to-avoid-that-slot-elements-in-web-components-appear-before-the-rest-is-rend*/
    *:not(:defined) {
        /*display: none;*/
    }

    .grid-stack {
        background: lightgoldenrodyellow;
    }
    .grid-stack-item-content {
        color: #2c3e50;
        text-align: center;
        background-color: #18bc9c;
    }

</style>

