{{define "appHead"}}
<nav>
    <div>
        <img src="/static/logo.svg" class="brand">
        <label>HiveOT</label>
    </div>
    <!-- Dashboard pages if enabled
    @param pages: list of tab page names
    -->
    <div class="tabs">
        {{range .pages}}
        <a class="active" id="{{ . }}">{{.}}
        </a>
        {{end}}
    </div>

    <!-- spacer -->
    <div class="max"></div>

    <!-- Counter for testing-->
    {{template "counter.html" .}}


    <!-- navigation/menu buttons on top-right -->
    <span class="nav-button">
        <!-- One button to rule the night
        @param theme_icon: "dark_mode", "light_mode"
        -->
        <button>
            <i>{{.theme_icon}}</i>
            <div class="tooltip bottom ">switch light/dark mode</div>
        </button>

        {{template "connectStatus.html" .}}

        <!-- menu

        -->
        <button class="right-margin" style="position:relative">
            <i>menu</i>
            <div class="tooltip bottomRight">menu</div>
        </button>
    </span>
</nav>

<style>
    .brand {
        height: 48px;
    }

    /*Experiment with alternative tooltip position for the menu
     * inset auto 0  will right-align against the parent container
    */
    .tooltip.bottomRight {
        /*position: absolute;*/
        /*inset: auto 0 auto auto;*/
        position: fixed;
        inset: auto;
        right: 5px;
        transform: translateY(50px);
        z-index: 1;
    }

    .tooltip.bottomLeft {
        position: fixed;
        left: 0;
        transform: translateY(50px);
        z-index: 1;
    }

    /*all buttons in the nav-button section */
    .nav-button > button {
        margin: 1px;
        background-color: transparent;
        color: var(--primary);
        border-radius: 2.5rem;
        padding: 0;
    !important;
    }


</style>

{{end}}