/* Write your global styles here, in PostCSS syntax */

/* See also: https://www.skeleton.dev/components/app-shell */
html,body {@apply h-full overflow-hidden}


@tailwind base;
@tailwind components;
@tailwind utilities;
