{{define "dark-mode"}}

<!-- dark-mode, one button to rule the night -->
<button onclick="toggleDarkMode()"
        class="h-transparent-bg uk-button uk-padding-small">
    <iconify-icon icon="mdi:theme-light-dark"></iconify-icon>
</button>


<script>
    // dark mode in localstorage is read on main renderon initial render, load from storage
    function toggleDarkMode() {
        console.log("toggleDarkMode");
        if (document.body.classList.contains("dark-mode")) {
            document.body.classList.remove("dark-mode");
            localStorage.setItem("dark-mode", "off");
        } else {
            document.body.classList.add("dark-mode");
            localStorage.setItem("dark-mode", "on");
        }
    }
</script>

{{end}}