{{define "dropdown"}}

<!-- dropdown menu -->
<h-dropdown position="bottomright" class="uk-padding-small">
    <button slot="button" type="button"
            class="bg-transparent uk-button  uk-button-link round"
    >
        <iconify-icon icon="mdi:menu"></iconify-icon>
    </button>

    <ul class="uk-dropdown-nav uk-list uk-list-large menu-shadow"
        style="background-color: var(--header-bg-color);
        padding:10px; margin: 10px; margin-top: 10px;
          ">

        {{range $item := .}}

        {{template "menu-item" $item}}

        {{end}}
    </ul>
</h-dropdown>

<style>
    /*Adjust spacing between menu items. default is a huge 20px*/
    .uk-list-large > :nth-child(n+2) {
        margin-top: 10px;
    }

    .menu-shadow {
        box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    }

    .menu-item {
        /*font-size: 1.1rem;*/
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 7px;
    }

    .menu-checkbox {
        width: 20px;
        height: 20px;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

</style>

{{end}}


{{define "menu-item"}}
<!--show menu as a link, checkbox or divider
@param .Label with text to show
@param .Icon to show, if any
@param .Type == "checkbox", "href", "divider"
@param .Value to display
-->
{{if (eq .Type "divider")}}
<li class="uk-nav-divider"></li>
{{else if (eq .Type "checkbox")}}
<li id="{{.ID}}-menu" class="menu-item">
    <!--    checkboxes don't close them menu when clicked-->
    <input id="{{.ID}}-input" type="checkbox" value="{{.Value}}"
           class="menu-checkbox"/>
    <label for="{{.ID}}-input">{{.Label}}</label>
</li>

{{else if (eq .Type "link")}}
<li id="{{.ID}}-menu" class="menu-item"
    onclick="UIkit.dropdown(getElementById('dropdown')).hide(0)">
    {{if .Icon}}
    <iconify-icon icon='mdi:{{.Icon}}'></iconify-icon>
    {{end}}
    <a href="{{.Value}}" hx-target="{{.Target}}" hx-boost="false">{{.Label}}</a>
    <!--    <a href="{{.Value}}">{{.Label}}</a>-->
</li>

{{else if (eq .Type "button")}}
<li id="{{.ID}}-menu" class="menu-item"
    onclick="UIkit.dropdown(getElementById('dropdown')).hide(0)">
    {{if .Icon}}
    <iconify-icon icon="mdi:{{.Icon}}"></iconify-icon>
    {{end}}
    <a uk-toggle="target: {{.Target}}">{{.Label}}</a>
</li>

{{else}}
<li id="{{.ID}}" class="menu-item"
    onclick="UIkit.dropdown(getElementById('dropdown')).hide(0)">
    {{if .Icon}}
    <iconify-icon icon="{{.Icon}}"></iconify-icon>
    {{end}}
    <a href="#" target="_blank">{{.Label}}</a>
</li>
{{end}}

{{end}}
