<script>
    let lastActiveButton = undefined
    let lastActiveTarget = undefined;

    function selectTab(btn, id) {
        console.log("selectTab: " + id)

        // deselect the last tab and hide the linked view
        if (lastActiveTarget) {
            lastActiveTarget.style.display = "none";
        }
        if (lastActiveButton) {
            console.log("lastactivebtn className=" + lastActiveButton.className)
            lastActiveButton.checked = false
        }
        // select the new tab and show target
        let newTarget = document.getElementById(id)
        console.log("newtarget", newTarget)
        btn.checked = true
        if (!newTarget) {
            console.error("couldn't find target element: " + id)
            return
        }
        newTarget.style.display = 'block';

        lastActiveButton = btn
        lastActiveTarget = newTarget
    }
</script>

<div class="tabs ml-3" role="radiogroup">
    {{range .pages}}
    <input type="radio" id="{{ . }}-btn" value="{{.}}" onclickz="selectTab(this,'{{.}}')">
    <label for="{{.}}-btn">{{.}}</label>
    {{end}}
</div>

<style>

    .tabs {
        overflow: hidden;
        background-color: #f1f1f1;
    }

    .tabs button {
        border-top: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-right: 1px solid #ccc;
        background-color: inherit;
        float: left;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
    }

    /* Change background color of buttons on hover */
    .tabs button:hover {
        background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tabs button:active {
        background-color: #90eb8f;
    }
</style>
