/*==========================================================================
 * HiveOT utility classes
 *==========================================================================
 */


/* set background transparent */
.h-bg-transparent {
    background-color: transparent;
}


.h-col, .h-col-centered {
    display: flex;
    flex-direction: column;
}

.h-col-centered {
    align-items: center;
}

/* css horizontal divider for use between list items */
.h-horizontal-divider {
    width: 100%;
    height: 1px;
    margin: 6px 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, var(--pico-background-color), var(--pico-color), var(--pico-background-color));
}

/* apply to a table to show using CSS grid
 */
/*.h-grid-table {*/
/*    display: grid;*/
/*    border-collapse: collapse;*/
/*    min-width: 100%;*/
/*    border: 1px solid gray;*/

/*    td {*/
/*        overflow: hidden;*/
/*        text-overflow: ellipsis;*/
/*    }*/

/*    thead, tbody, tr {*/
/*        display: contents;*/
/*    }*/

/*    !*show an ellipsis in a span element that is using a flexbox parent*!*/

/*    span {*/
/*        display: block;*/
/*        overflow: hidden;*/
/*        white-space: nowrap;*/
/*        text-overflow: ellipsis*/
/*    }*/
/*}*/

.h-grid-table {
    display: grid;
    padding: 0;
}

.h-grid-table[border] {
    border: 1px solid var(--pico-form-element-border-color);
}

.h-grid-table li {
    display: contents;
    list-style: none;
}

.h-grid-table li div {
    font-weight: var(--pico-font-weight);
    background-color: var(--pico-card-sectioning-background-color);
    padding: calc(var(--pico-spacing) / 2) var(--pico-spacing);
}

.h-grid-table li:first-child div {
    font-variant-caps: small-caps;
    background-color: var(--pico-form-element-background-color);
    --pico-font-weight: 600;
    /*border-bottom: 1px solid var(--pico-form-element-border-color);*/
    border-bottom: 1px solid var(--pico-form-element-active-border-color);
}

.h-grid-table[striped] li:nth-child(odd) div {
    background-color: var(--pico-background-color);
}


.h-grow {
    flex-grow: 1;
}

/* button class with only an icon
 */
.h-icon-button {
    padding: 8px;
    display: flex;
    flex-direction: row;
    border: var(--pico-border-width) solid var(--pico-form-element-border-color);
}

/*=== helpers to show columns or fields for responsive design ===*/

/* XS (<576) */
@media (width < 576px) {
    .h-show-sm, .h-show-md, .h-show-lg, .h-show-xl {
        display: none;
    }
}

/* SM: 576-768 */
@media (width >= 576px) and (width < 768px) {
    .h-show-md, .h-show-lg, .h-show-xl {
        display: none;
    }
}


/* MD: 768-1024) show on medium and above; hide on small and below;  */
@media (width >= 768px) and (width < 1024px) {
    .h-show-lg, .h-show-xl {
        display: none;
    }
}

/*  LG: 1024-1280: show on large and above; hide on medium and below */
@media (width >= 1024px) and (width < 1280px) {
    .h-show-xl {
        display: none; /*hide xs,sm,md,lg*/
    }
}

/* XL (>=1200-1536); show on XL and above  */
@media (width >= 1200px) {
    /* disable nothing*/
}

/** XXL: >= 15360*/


/* panel with background color and flex col*/
.h-panel {
    /*background-color: var(--pico-background-color);*/
    display: flex;
    flex-direction: column;
    border: 1px solid var(--pico-border-color);
    padding: var(--pico-block-spacing-horizontal) var(--pico-block-spacing-vertical);
}

/* flexbox row with items centered */
.h-row, .h-row-centered {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.h-row-centered {
    justify-content: center;
}

.h-row-inline {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

/* apply box shadow with opacity gradient */
.h-shadow {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

/*.flex-center {*/
/*    align-self: center;*/
/*    justify-self: center;*/
/*}*/


/*==========================================================================
 * HiveOT Web Component default internal styles
 *==========================================================================
 */
h-dropdown > li {
    list-style: none;
}

h-dropdown > ul {
    /*padding-left: 0;*/
    padding: var(--pico-form-element-spacing-vertical) var(--pico-form-element-spacing-horizontal);
}

h-modal {
    /*The opacity of the modal mask*/
    --mask-opacity: 70%;
    /*The background color of the modal mask*/
    --mask-background: #dfe5e7;
    /* the animation timing of opening and closing the modal */
    --animation-duration: 500ms;
}

/* Horizontal navigation bar
 * navbar highlights the tab with the href matching the url.
 * this requires that
 */
.h-navbar {
    display: flex;
    flex-direction: row;
    gap: 0;
    padding: 0;
    margin-left: 1rem !important;

    border-radius: 3px;
    @media screen and (max-width: 800px) {
        display: none;
    }
}

/*Navbar buttons style*/
.h-navbar li {
    color: var(--pico-color);
    overflow: hidden;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;

    font-size: 0.9rem;
    text-transform: uppercase;

    transition: border .3s ease-in-out;
    /*border-bottom: 2px solid var(--pico-form-element-border-color);*/
    border-bottom: 2px solid var(--pico-form-element-border-color);
}

/*If element has the 'h-target' set then show a thicker bottom border*/
/*.h-navbar li:has(a.h-target) {*/
.h-navbar li.h-target {
    border-bottom: 2px solid var(--pico-primary-border);
}

.h-navbar li:hover {
    color: var(--pico-text-decoration);
}
