/* Adjustments to  pico's theme settings */

:root {
    /* theme  */
    --pico-font-size: 16px;

    details {
        /* why does <details/> have a bottom margin when using flex horizontal  ? */
        margin-bottom: 0;
    }


    /* if height is mobile in landscape then reduce vertical spacing*/
    @media (max-height: 700px) {
        --pico-spacing: 0.75rem; /* base spacing for various spacings */
        --pico-form-element-spacing-vertical: 0.5rem; /* default 0.75rem */
        --pico-nav-element-spacing-vertical: 0.5rem !important;
    }
}

[data-theme=light],
:root:not([data-theme=dark]) {
    --pico-background-color: #eee;
}