<!-- dropdown menu using :target css
   potentially useful for dialogs that are visible through a url
-->
<div class="dropdown">
    <a href="#menu1"
       class="menu-button" id="menu-button">
        <iconify-icon icon="mdi:menu"></iconify-icon>
    </a>
    <div id="menu1" class="dropdown-content" role="menu">

        <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
        <a href="#" class="dropdown-item" role="menuitem"
           id="menu-item-0">Account settings</a>
        <a href="#" class="dropdown-item" role="menuitem"
           id="menu-item-1">Support</a>
        <a href="#" class="dropdown-item" role="menuitem"
           id="menu-item-2">License</a>
    </div>
</div>

<style>
    .dropdown {
        position: relative;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        right: 0;
        z-index: 1;
        background-color: cornsilk;
        border: darkblue;
    }

    .dropdown-content:target {
        display: block;
        border: darkblue 1px;
        background-color: cornflowerblue;
    }

    .dropdown-item {
        white-space: nowrap;
    }

</style>