{{define "dropdown"}}

<!-- dropdown menu -->
<div class="uk-inline uk-padding-small">
    <button type="button"
            class="bg-transparent uk-button  uk-button-link round"
    >
        <iconify-icon icon="mdi:menu"></iconify-icon>
    </button>

    <div uk-dropdown="mode: click">
        <ul class="uk-nav uk-dropdown-nav uk-list-large">
            {{range $item := .}}

            {{template "menu-item" $item}}

            {{end}}
        </ul>
    </div>
</div>

<style>
    /*Adjust spacing between menu items. default is a huge 20px*/
    .uk-list-large > :nth-child(n+2) {
        margin-top: 10px;
    }

    .menu-item {
        /*font-size: 1.1rem;*/
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 7px;
    }

    .menu-checkbox {
        width: 20px;
        height: 20px;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

</style>

{{end}}


{{define "menu-item"}}
<!--show menu as a link, checkbox or divider
@param .Label with text to show
@param .Icon to show, if any
@param .Type == "checkbox", "href", "divider"
@param .Value to display
-->
{{if (eq .Type "divider")}}
<li class="uk-nav-divider"></li>
{{else if (eq .Type "checkbox")}}
<li id=".ID" class="menu-item">
    <input id="{{.ID}}-input" type="checkbox" value="{{.Value}}"
           class="menu-checkbox"/>
    <a for="{{.ID}}-input">{{.Label}}</a>
</li>
{{else if (eq .Type "link")}}
<li id=".ID" class="menu-item">
    {{if .Icon}}
    <iconify-icon icon='mdi:{{.Icon}}'></iconify-icon>
    {{end}}
    <a href="{{.Value}}" hx-target="{{.Target}}">{{.Label}}</a>
    <!--    <a href="{{.Value}}">{{.Label}}</a>-->
</li>

{{else}}
<li id=".ID" class="menu-item">
    {{if .Icon}}
    <iconify-icon icon="{{.Icon}}"></iconify-icon>
    {{end}}
    <a href="#" target="_blank">{{.Label}}</a>
</li>
{{end}}

{{end}}
