{{define "dropdown"}}

<!-- dropdown menu -->
<div class="uk-inline">
    <button type="button"
            class="bg-transparent uk-button uk-button-link round"
    >
        <iconify-icon icon="mdi:menu"></iconify-icon>
    </button>

    <div uk-dropdown="delay-show:800">
        <ul class="uk-nav uk-dropdown-nav">
            {{range $item := .}}

            {{template "menu-item" $item}}

            {{end}}
        </ul>
    </div>
</div>

{{end}}


{{define "menu-item"}}
<!--show menu as a link, checkbox or divider
@param .Label with text to show
@param .Icon to show, if any
@param .Type == "checkbox", "href", "divider"
@param .Value to display
-->
{{if (eq .Type "checkbox")}}
<li id=".ID">
    <a target="_blank">
        <input id="{{.ID}}-input" type="checkbox" value="{{.Value}}"
               class="checkbox uk-margin-remove-left "/>
        <label for="{{.ID}}-input">{{.Label}}</label>
    </a>
</li>
{{else if (eq .Type "divider")}}
<li class="uk-nav-divider"></li>
{{else}}

{{if (eq .Type "link")}}
<li id=".ID">
    <i name="{{.Icon}}" height="12"></i>
    <a href="{{.Value}}">{{.Label}}</a>
</li>
{{else}}
<li id=".ID">
    <i name="{{.Icon}}" height="12"></i>
    <a href="#" target="_blank">{{.Label}}</a>
</li>
{{end}}

{{end}}
{{end}}
