<dialog class="active">
    <div class="row">
        <img src="/static/logo.svg" alt="logo" height="40px"/>
        <h4>HiveOT</h4>
    </div>
    <div class="medium-divider"></div>
    <div>
        <p>The Hive Of Things provides secure use of connected devices and services.
        </p>
        <p>By: {{.By}}</p>
        <p>Version: {{.Version}}</p>
    </div>
    <div class="bottom right-align ">
        <a href="https://github.com/hiveot" target="_blank" aria-label="github">
            <i class="small">
                <img src="https://github.githubassets.com/favicons/favicon.png"/>
            </i>
        </a>
    </div>
</dialog>


<style>
    .card {
        border-width: 1px;
    }
</style>