<!--Login View
@param loginID: login email to display
@param error: optional if login previously failed 
-->
<dialog open id="login" class="login">
    <article>
        <header class="h-row-centered">
            <h3>HiveOT Login</h3>
        </header>
        <form action="/login" method="post">

            <div>
                <label for="loginID">Login email</label>
                <input id="loginID" name="loginID"
                       type="text"
                       placeholder="login email"/>
            </div>

            <div>
                <label for="password">Password</label>
                <input id="password" name="password"
                       type="password"
                       {{if .error}}aria-invalid="true" {{end}}
                       autocomplete="off" value=""
                       placeholder="password"
                />
                {{if .error}}
                <label class="danger">{{.error}}</label>
                {{end}}
            </div>

            <hr/>

            <div class="h-row">
                <a type="button" class="secondary" href="/">Cancel</a>
                <span class="h-grow"></span>
                <button type="submit">Log In</button>
            </div>
        </form>
    </article>
</dialog>


<style>

    .login article {
        border: solid;
        border-width: 1px;
        border-color: var(--pico-dropdown-border-color);
        border-radius: 10px;
    }

</style>