<!--Login View
@param loginID: login email to display
@param error: optional if login previously failed 
-->
<div id="login" class="login-container">

    <form action="/login" class="login-form" method="post">
        <span class="flex-row-centered">
            <h3>HiveOT Login</h3>
        </span>

        <div class="uk-margin">
            <label for="loginID">Login email</label>
            <input id="loginID" name="loginID"
                   type="text" class="uk-input"
                   placeholder="login email"/>
        </div>

        <div class="uk-margin">
            <label for="password">Password</label>
            <input id="password" name="password"
                   type="password"
                   class="uk-input uk-form-password {{if .error}}uk-form-danger{{end}}"
                   autocomplete="off" value=""
                   placeholder="password"
            />
            {{if .error}}
            <label class="uk-form-danger">Invalid login ID or password</label>
            {{end}}
        </div>

        <hr/>

        <div class="h-row">
            <button type="button" class="uk-button">Cancel</button>
            <span class="h-grow"></span>
            <button type="submit" class="uk-button primary">Log In</button>
        </div>
    </form>

</div>


<style>
    .login-container {
        height: 100%;

        border-color: var(--main-text-color);
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        background-color: var(--header-bg-color);
    }

    .login-form {
        display: flex;
        flex-direction: column;
        border: solid;
        border-width: 1px;
        border-color: lightgray;
        border-radius: 5px;
        background-color: var(--header-bg-color);
        padding: 15px;

        hr {
            border-color: lightgray;
        }

        .uk-button {
            border-color: lightgray;
            border-radius: 5px;
            /*padding: 3px 10px;*/
            line-height: 32px;
        }
    }

</style>